<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp2024b.tocountornot.dao.BillMapper">
    <select id="getBillByUserIdWithDate" resultType="com.comp2024b.tocountornot.bean.Bill">
        select *
        from bill
        where user_id = #{user_id} and `date` = #{date}
    </select>
</mapper>