<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp2024b.tocountornot.dao.BillMapper">
    <select id="getMonthIncomeByUserIdWithYearMonth" resultType="java.lang.String">
        select sum(price)
        from bill
        where user_id = #{user_id} and date_year = #{date_year} and date_month = #{date_month} and in_or_out = 'in'
    </select>
    <select id="getMonthOutcomeByUserIdWithYearMonth" resultType="java.lang.String">
        select sum(price)
        from bill
        where user_id = #{user_id} and date_year = #{date_year} and date_month = #{date_month} and in_or_out = 'out'
    </select>
    <select id="selectAccountsDateByUserIdWithYearMonth" resultType="java.lang.String">
        select `date`
        from bill
        where user_id = #{user_id} and date_year = #{date_year} and date_month = #{date_month} group by `date` order by `date` desc
    </select>
    <select id="selectAccountsByUserIdWithDate" resultType="com.comp2024b.tocountornot.bean.Bill">
        select *
        from bill
        where user_id = #{user_id} and `date` = #{date}
    </select>
    <select id="getDayIncomeByUserIdWithDate" resultType="java.lang.String">
        select sum(price)
        from bill
        where user_id = #{user_id} and `date` = #{date} and in_or_out = 'in'
    </select>
    <select id="getDayOutcomeByUserIdWithDate" resultType="java.lang.String">
        select sum(price)
        from bill
        where user_id = #{user_id} and `date` = #{date} and in_or_out = 'out'
    </select>
</mapper>